Pentest AI Reporter v2.json
{
  "name": "Pentest AI Reporter v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "22a14cf9-5e33-4c30-b39f-ff6f5a8d2200",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0c857708-56f4-40ee-9714-b8f0c24ddcf7",
      "name": "Webhook",
      "webhookId": "22a14cf9-5e33-4c30-b39f-ff6f5a8d2200"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior penetration tester and security consultant.\n\nYour task is to convert raw penetration testing bullet-point findings into a professional, client-ready penetration testing report.\n\nSTRICT RULES:\n-Do not wrap the HTML in triple backticks. Return raw HTML only.\n- Output MUST be a complete HTML document starting with <!DOCTYPE html> and containing <html>, <head>, and <body> tags. This is required for PDF rendering.\n- Do NOT invent vulnerabilities.\n- Do NOT fabricate evidence.\n- Only structure and expand on the provided findings.\n- If data is missing, state \"Not Provided\".\n- Maintain technical accuracy.\n- Keep tone professional and formal.\n\nOUTPUT FORMAT:\nReturn a complete, clean, structured HTML document suitable for PDF rendering.\nThe document MUST start with <!DOCTYPE html>.\nNo explanations. No commentary.\n\n\nSTRUCTURE THE REPORT EXACTLY AS FOLLOWS:\n\n# Penetration Testing Report\n\n## 1. Executive Summary\n- High-level overview of the engagement\n- Overall risk posture summary\n- Summary of number of Critical, High, Medium, Low findings\n- Business impact overview (non-technical language)\n\n## 2. Engagement Overview\n- Engagement Type\n- Assessment Date\n- Testing Methodology (align with OWASP Testing Guide, NIST SP 800-115)\n- Testing Approach (black-box / grey-box if not specified state \"External perspective testing assumed\")\n\n## 3. Scope\n- List all IP addresses\n- List all domains/subdomains\n- Clearly separate network and web scope\n\n## 4. Risk Summary Table\n\nCreate a table with:\n- Finding Title\n- Severity (Critical/High/Medium/Low/Informational)\n- Affected Assets\n- Remediation Owner (default to \"IT Operations Team\" unless web-specific then \"Web Application Team\")\n\nSort from Critical → Low.\n\n## 5. Detailed Findings\n\nFor EACH finding, create a separate subsection using this format:\n\n---\n\n### [Finding Title]\n\n**Severity:**  \nCritical / High / Medium / Low / Informational  \n\n**Affected Assets:**  \n(List specific IPs or domains impacted)\n\n**Remediation Owner:**  \n(IT Operations Team / Web Application Team / Security Engineering)\n\n**Description:**  \nExplain the vulnerability in professional language. Reference relevant standards when applicable (OWASP Top 10, NIST, CVE exposure, etc.)\n\n**Technical Details:**  \nDescribe exactly what was observed based only on the provided findings.\n\n**Evidence:**  \nSummarize proof provided in the raw findings.  \nIf screenshots are not provided, write:  \n_Screenshot Placeholder: [Evidence Screenshot to be Inserted Here]_\n\n**Impact:**  \nExplain real-world risk and possible exploitation outcomes.\n\n**Recommendation:**  \nClear remediation steps. Bullet format allowed.\n\n---\n\nRepeat this structure for every finding.\n\n## 6. Conclusion\n- Overall security posture summary\n- Immediate priorities\n- Recommendation for retesting timeline\n\nFormatting Requirements:\n- Use clean Markdown headings.\n- No emojis.\n- No unnecessary commentary.\n- No decorative text.\n- Maintain consulting-level professionalism.\n"
            },
            {
              "content": "={{ $json.body.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "1d1117ff-7a5a-4031-b3f2-0b4c239b22ec",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "JaXgTt1ZFq24oy8h",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n// your confirmed path:\nconst html = item.json.output[0].content[0].text;\n\nreturn [\n  {\n    json: {\n      html,              // ✅ put HTML here for HTTP Request\n    },\n    binary: {\n      file: {\n        data: Buffer.from(html, 'utf8').toString('base64'),\n        mimeType: 'text/html',\n        fileName: 'report.html',\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "e20347f8-1cbb-4202-a808-2a9031177de2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "sk_d1994c9ea91cb9490e2e92d9025bc5e67015f092"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        0
      ],
      "id": "c111df61-d4ce-4407-aac6-62e5e3024347",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ae9f0608-7000-467e-8d75-fc4036ce1e9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86e9040ead55bdc858ecb0a82bc677c9dd99b53f6c9326cfb5df7c43db7beee1"
  },
  "id": "M9XTmymFcDJRr8sB",
  "tags": []
}